<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
  <h1>
    Angular Test{{ title }}!
  </h1>
<label>
  {{people | sorting:'asc'}}</label>
  <br/><br/><br/>
  <label>Product Name</label>
  <!-- <input type="text" [(ngModel)]="productname" /> -->
  <input type="text" (input)="productname=$event.target.value" />
  <Br />
  <label>Product Price</label>
  <!-- <input type="text" [(ngModel)]="productprice" /> -->
  <input type="text" (input)="productprice=$event.target.value" />
  <Br />
  <label>Product Quantity</label>
  <!-- <input type="text" [(ngModel)]="qty" /> -->
  <input type="text" (input)="qty=$event.target.value" />
  <Br />

  <button (click)="calculate2()">Calculate</button>
  <br />
  Total is <label>{{total}}</label>
  <app-footer></app-footer>
